<tr>
  <td><%= person.name %></td>
  <td><%= person.number %></td>
  <td><%= person.email %></td>
  <td>
    <% if !person.address.nil? %>
      <%= render person.address %>
    <% end %>
  </td>
</tr>
